.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  top: 30%;
  left: 25%;
  width: 50%;
  transition: all 0.3s ease-out;
}

.ModalOpen {
  animation: openModal 0.5s ease-out;

  /* display: block; */
}
.ModalClose {
  /* z-index: -100; */
  opacity: 0;
  /* opacity: 0;
  transform: translateY(-100%); */
  animation: closeModal 0.6s ease-out;
}
.CssTransition-enter-active {
  animation: openModal 0.4s ease-out;
}
.CssTransition-exit-active {
  animation: closeModal 0.6s ease-out;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0.9;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(30%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
